@import "~bootstrap/scss/bootstrap.scss";

body {
    background: url("https://i.pinimg.com/originals/03/75/e5/0375e56e6445c6172cc47a3d40b56d7c.jpg") no-repeat fixed center;
    height: 100vh;
    width: 100vw;
}

.container{
    margin:auto;
    margin-top: 5rem;
    text-align: center;
}

.title {
    font-size: 228%;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
    font-family: 'Gowun Dodum', sans-serif;
}

.square{
    border: solid 3px rgb(58, 54, 54);
    background-color: rgba(255, 255, 255, 0.274);
    color:rgb(58, 54, 54);
    font-size: 6rem;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bolder;
    width: 10rem;
    height: 10rem;
}